input {
    width: 100%;
    border-radius: 5px;
    text-align: center;
    border: none;
    height: 20px;
}

body {
    background-color: gray;
}

.span {
    display: flex;
    align-items: center;
    color: black;
    justify-content: space-between;
    padding: 0px 5px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: white;
}

thead {
    background-color: lightgray;
}

hr {
    width: 500px;
    margin: 0px;
    color: black
}

td,
tr,
th {
    padding: 2px;
    font-size: 12px;
    border: 1px solid black;
    border-collapse: collapse;
}

h2 {
    margin: 0px;
    color:black
}

p {
    color: black;
}

a {
    color: black;
    padding: 5px;
    text-decoration: none;
}

a:hover {
    color: #3f51b5;
}