<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>SDT</title>
  <link rel="stylesheet" href="style.css">
</head>

<script src="filter.js"></script>
<script src="refresh_bar.js"></script>

<body>
  <table id="indextable" class="table-info table">
    <thead>
      <tr>
        <td colspan=100%>
          <div class="span">
            <h2>Storage Device Table</h2>
            <button><a href=/export>Export CSV</a></button>
            <p>Auto refresh:</p>
            <progress style="width:80px;" value="60" max="60" id="pageBeginCountdown"></progress>
          </div>
        </td>
      </tr>
      <tr>
        <th>ID</th>
        <th>Host</th>
        <th>IP</th>
        <th>Device</th>
        <th>Disk State</th>
        <th>Size</th>
        <th>Free</th>
        <th>Usage %</th>
        <th>Last Update</th>
        <th></th>
      </tr>
      <tr>
        <td colspan=100%><input type="search" class="light-table-filter" data-table="table-info" placeholder="SEARCH">
        </td>
      </tr>
    </thead>
    <tbody>

    {% for i in row %}
      {% if i.state == "normal" %}
        <tr style="background:lightgreen;">
      {% elif i.state == "warning" %}
        <tr style="background:yellow;">
      {% else %}
        <tr style="background:lightcoral;">
      {% endif %}
        <td>{{ i.id }}</td>
        <td><a href="graph/{{ i.host }}" target="_blank">{{ i.host }}</a></td>
        <td>{{ i.ip }}</td>
        <td>{{ i.device }}</td>
        <td>{{ i.state }}</td>
        <td align="right">
          {% if i.size_mb|int >= 104857600 %}
            {{ (i.size_mb|int / 1048576)|round|int }} TB
          {% elif i.size_mb|int >= 1048576 %}
            {{ (i.size_mb|int / 1048576)|round(1) }} TB
          {% elif i.size_mb|int >= 102400 %}
            {{ (i.size_mb|int / 1024)|round|int }} GB
          {% elif i.size_mb|int >= 1024 %}
            {{ (i.size_mb|int / 1024)|round(1) }} GB
          {% else %}
            {{ i.size_mb|int }} MB
          {% endif %}
        </td>
        <td align="right">
          {% if i.free_mb|int >= 104857600 %}
            {{ (i.free_mb|int / 1048576)|round|int }} TB
          {% elif i.free_mb|int >= 1048576 %}
            {{ (i.free_mb|int / 1048576)|round(1) }} TB
          {% elif i.free_mb|int >= 102400 %}
            {{ (i.free_mb|int / 1024)|round|int }} GB
          {% elif i.free_mb|int >= 1024 %}
            {{ (i.free_mb|int / 1024)|round(1) }} GB
          {% else %}
            {{ i.free_mb|int }} MB
          {% endif %}
        </td>
        <td align="right">{{ i.used_perc }}% <progress style="width:40px;" value="{{ i.used_perc }}" max="100"></progress></td>
        <td>{{ i.updated }}</td>
        <td><a href=/remove/{{ i.id }}><img alt="DEL" src="delete.png" width=20 height=20></a></td>
      </tr>
    {% endfor %}
    
    </tbody>
  </table>
  <br>
  <p>Downloads:</p>
  <a href="download/linux_agent">➡️ Agent for linux</a><br>
  <a href="download/windows_agent">➡️ Agent for windows</a><br>
  <a href="download/ansible_playbook">➡️ Ansible playbook</a>
  <br><br>
</body>
<br>
<footer>
  <hr>
  <span><a href=https://martynas.me target="_blank">Martynas J.</a></span>
  <span style="padding-left:3em"><a href=https://github.com/f5AFfMhv/storage-device-table.git target="_blank">GitHub</a></span>
  <span style="padding-left:3em">2021</span>
  <span style="padding-left:3em">v1.0</span>
</footer>
</html>